* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1601px) {
    

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body {
    background-color: #1a2238;
}

nav li {
    float: left;
    padding: 30px;
    margin-top: 1.5vh;
    list-style: none;
    text-align: center;
}

.menu {
    text-decoration: none;
    color: #1a2238;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    border-left: 5px solid #1a2238;
    border-right: 5px solid #1a2238;
}

a:hover {
    color: white;
    background-color: #1a2238;
    transition: 0.3s;
}

#uitloggen {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: red;
    position: absolute;
    margin-left: -9vw;
    margin-top: -15.3px;
    padding: 20px;
    padding-right: 40px;
    text-align: center;
    border-radius: 5px;
}

#uitloggen:hover {
    color: white;
    background-color: red;
    transition: 0.3s;
}

nav {
    width: 100vw;
    position: absolute;
    height: 10vh;
    border-bottom: 3px solid crimson;
    display: flex;
    justify-content: center;
    background-color: white;
}

.achtergrond {
    width: 100vw;
    position: absolute;
    height: 171.8vh;
    margin-top: 30vh;
    background-color: white;
    border-top: 3px solid crimson;
    margin-bottom: 20vh;
}

.container div {
    background-color: white;
    width: 75vw;
    height: 40vh;
}

#blok1 {
    margin-top: 2vh;
    position: absolute;
}

#blok2 {
    margin-top: 52vh;
    position: absolute;
}

#blok3 {
    margin-top: 102vh;
    position: absolute;
}

.container {
    border-bottom: 5vh solid #1a2238;
    width: 90vw;
    height: 145vh;
    background-color: #1a2238;
    margin-top: 42vh;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    padding-top: 10vh;
    border-top: 2px solid crimson;
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
}

h1 {
    position: absolute;
    width: 100vw;
    text-align: center;
    margin-top: 16.5vh;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.info-text {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 1vw;
    margin-top: 1.5vh;
    position: absolute;
    font-size: 18px;
}

.info-titel {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 1vw;
    margin-top: 3vh;
    font-size: 25px;
}

#functies-calc {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 1vw;
    font-size: 25px;
    list-style: circle;
    margin-left: 20px;
    padding-top: 8vh;
}

#blok1{
    background-color: #1a2238;
    border-radius:15px;
}

#plaatje-blok1 {
    height: 422.5px;
    float: right;
    margin-top: -34.835vh;
    border: 5px solid white;
    border-radius: 3px;
}

#status {
    border-left: 5px solid crimson;
    border-right: 5px solid crimson;
}

#shitter, #fakebook, #gram {
    width: 60px;
    float: right;
    margin-top: 1vh;
    position: absolute;
}

#shitter {
    width: 50px;
    margin-top: 17.5vh;
    margin-left: 73.5vw;
}

#fakebook {
    margin-top: 17vh;
    margin-left: 69.9vw;
}

#gram {
    margin-top: 17vh;
    margin-left: 66.5vw;
}

#logo {
    width: 80px;
    position: absolute;
    margin-left: 28vw;
    margin-top: 15vh;
}

}

@media screen and (max-width: 1600px) {

    #shitter, #fakebook, #gram, #logo {
        display: none;
    }

    #blok1{
        width: 90vw;
        margin-left: 5vw;
        color: white;
    }

    li{
        margin-left: 5vw;
        
    }

    body{background-color: #1a2238;}

    nav {
        list-style: none;
        padding-bottom: 3vh;
        margin-top: 1vh;
        text-align: center;
    }

    #plaatje-blok1 {
        width: 300px;
        border-radius: 15px;
        margin-top: 5vh;
        margin-left: 3vw;
        margin-bottom: 5vh;
    }

    h1{
        text-align: center;
        color: white;
        margin-top: 5vh;
        margin-bottom: 3vh;
        border-bottom: 3px solid crimson;
        border-top: 3px solid crimson;
    }

    .info-titel{
       padding-bottom: 2vh;
       padding-top: 2vh;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav li {
        padding: 10px;
        padding-bottom: 20px;
        border-bottom: 5px solid crimson;
        margin-right: 5vw;
    }

    nav li :hover {
        color: lightsteelblue;
    }




}
