*{margin: 0; padding: 0;}

@media screen and (min-width: 1601px) {

body {
    background-color:#1a2238;
}

li {
    float: left;
    padding: 30px;
    margin-top: 1.5vh;
    list-style: none;
    text-align: center;
}

.menu {
    text-decoration: none;
    color: #1a2238;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    border-left: 5px solid #1a2238;
    border-right: 5px solid #1a2238;
}

a:hover {
    color: white;
    background-color: #1a2238;
    transition: 0.3s;
}

#uitloggen {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: red;
    position: absolute;
    margin-left: -9vw;
    margin-top: -15.3px;
    padding: 20px;
    padding-right: 40px;
    text-align: center;
    border-radius: 5px;
}

#shitter, #fakebook, #gram {
    width: 60px;
    float: right;
    margin-top: 1vh;
    position: absolute;
}

#shitter {
    width: 50px;
    margin-top: 0.5vh;padding-left: 5px;
    margin-right: 38.3vh;
    margin-top: 1.4vh;
    margin-left: 4.5vw;
}

#fakebook {
    margin-left: 10.5vw;
}

#gram {
    margin-left: 7.5vw;
}

#logo {
    width: 80px;
    float: left;
    margin-left: 40.3vh;
    position: absolute;
}

#uitloggen:hover {
    color: white;
    background-color: red;
    transition: 0.3s;
}

nav {
    width: 100vw;
    position: absolute;
    height: 10vh;
    border-bottom: 3px solid crimson;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container{
    width: 100vw;
    height: 90vh;
    background-color: #1a2238;
    margin-top: 20vh;
    position: absolute;
    margin-left: 10vw;
}

footer{
    height: 15vh;
    background-color: #ffffff;
    margin-top: 20vh;
    border-top: 3px solid crimson;
    margin-left: -10vw;
}

h1 {
    text-align: center;
    font-size: 65px;
    margin-right: 21vw;
    margin-bottom: 10vh;
    margin-top: 5;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
}

#mySelect{
    height: 5vh;
    text-align: center;
    font-size: 25px;
    color: #1a2238;
    font-family: 'Rubik', sans-serif;
    margin-top: 7vh;
    width: 40vw;
    margin-left: 30vw;
    cursor: pointer;
}

#opGetal1{
    height: 5vh;
    text-align: center;
    font-size: 25px;
    color: #1a2238;
    font-family: 'Rubik', sans-serif;
    margin-top: 17vh;
    position: absolute;
    margin-left: -32.5vw;
    border: 1px solid crimson;
    width: 24vw;
    outline: none;
}

#SomAntwoorden{
    width: 40vw;
    height: 100vh;
    background-color: #FFF8DC;
    margin-left: 20vw;
    margin-top: -13vh;
    color: #1a2238;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

#bereken{
    height: 5vh;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    margin-top: 29vh;
    position: absolute;
    margin-left: -80vh;
    width: 17vw;
    outline: none;
    background-color: #32de84;
    cursor: pointer;
}

#reset{
    height: 5vh;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    margin-top: 29vh;
    position: absolute;
    margin-left: -34.5vh;
    width: 17vw;
    outline: none;
    background-color: crimson;
    cursor: pointer;
}

form{
    height: 50vh;
    margin-left: -10vw;
}

#helpQm1, #helpQm2, #helpQm3, #helpQm4{
    width: 50px;
    position: absolute;
    margin-left: -21.5vw;
    margin-top: 25vh;
    cursor: pointer;
}

#uitleg1 {
    height: 60vh;
    position: absolute;
    margin-left: 57vw;
    margin-top: -55vh;
    visibility: hidden;
}

#uitleg {
    height: 60vh;
    position: absolute;
    margin-left: 57vw;
    margin-top: -55vh;
    visibility: hidden;
}

#uitleg2 {
    height: 60vh;
    position: absolute;
    margin-left: 57vw;
    margin-top: -55vh;
    visibility: hidden;
}

#uitleg3 {
    height: 60vh;
    position: absolute;
    margin-left: 57vw;
    margin-top: -55vh;
    visibility: hidden;
}

#status {
    border-left: 5px solid crimson;
    border-right: 5px solid crimson;
}
}



@media screen and (max-width: 1600px) {

    body {
        background-color: #1a2238;
    }

    #shitter, #fakebook, #gram, #logo {
        display: none;
    }

    nav {
        list-style: none;
        padding-bottom: 3vh;
        margin-top: 1vh;
        text-align: center;
        width: 90vw;
        margin-left: 5vw;
    }

    .info-titel{
        padding-bottom: 2vh;
        padding-top: 2vh;
     }
 
     nav a {
         text-decoration: none;
         color: white;
     }
 
     nav li {
         padding: 10px;
         padding-bottom: 20px;
         border-bottom: 5px solid crimson;
     }
 
     nav li :hover {
         color: lightsteelblue;
     }

     #helpQm1, #helpQm2, #helpQm3, #helpQm4{
        width: 40px;
        position: absolute;
        margin-left: -40.5vw;
        margin-top: 23vh;
        cursor: pointer;
    }

    #uitleg, #uitleg1, #uitleg2, #uitleg3 {
        height: 45vh;
        position: absolute;
        margin-top: -40vh;
        visibility: hidden;
    }
    

    #reset{
        height: 5vh;
        text-align: center;
        font-size: 20px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        margin-top: 30vh;
        position: absolute;
        margin-left: -70vw;
        width: 30vw;
        outline: none;
        background-color: crimson;
        cursor: pointer;
    }

    #bereken{
        height: 5vh;
        text-align: center;
        font-size: 20px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        margin-top: 30vh;
        position: absolute;
        width: 30vw;
        margin-left: -30vw;
        outline: none;
        background-color: #32de84;
        cursor: pointer;
    }

    #SomAntwoorden{
        width: 100vw;
        height: 100vh;
        background-color: #FFF8DC;
        margin-left: 30;
        margin-top: 35vh;
        color: #1a2238;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
    }

    #mySelect{
        height: 4vh;
        text-align: center;
        font-size: 20px;
        color: #1a2238;
        font-family: 'Rubik', sans-serif;
        margin-top: 7vh;
        width: 70vw;
        margin-left: 15vw;
        cursor: pointer;
    }

    #opGetal1{
        height: 4vh;
        text-align: center;
        font-size: 20px;
        color: #1a2238;
        font-family: 'Rubik', sans-serif;
        margin-top: 17vh;
        position: absolute;
        margin-left: -34vh;
        border: 1px solid crimson;
        width: 30vw;
        outline: none;
    }

    h1{
        text-align: center;
        color: white;
        margin-top: 5vh;
        margin-bottom: 3vh;
        border-bottom: 3px solid crimson;
        border-top: 3px solid crimson;
    }

    form {
        margin-top: 20vh;
    }

    #uitloggen {
        color: red;
    }

    #uitloggen :hover {
        color: crimson;
    }


}



